In [7]:
from matplotlib import image
from sklearn.decomposition import TruncatedSVD

from scipy.sparse.linalg import svds
import sqlite3
import pandas as pd
import numpy as np
import requests
user=1
db = sqlite3.connect("E:/Test/flaskrr.sqlite")

page=1
#Ambil data ratings dari sqlite dengan querry "SELECT * FROM review" dan simpan ke pandas dataframe
ratings = pd.read_sql_query('SELECT userId, movieId, rating FROM ratings',db)
ratings.columns = ['USERID', 'MOVIEID', 'RATING']
#Ambil data movies dari sqlite dengan querry "SELECT * FROM review" dan simpan ke pandas dataframe
movies = pd.read_sql_query('SELECT * FROM movies', db)
movies.columns = ['MOVIEID', 'TITLE', 'GENRES', 'POSTER']

combined_movies_data = pd.merge(ratings, movies, how='inner', on='MOVIEID')#merge data rating dan data movie pada movieId
#Buat pivot table untuk rating menggunakan userId sebagai index dan movieId sebagai kolom
rating_crosstab = combined_movies_data.pivot_table(index='USERID', columns='MOVIEID', values='RATING').fillna(0)
#lakukan transpose dan dimesionality reduction dengan menggunakan fungsi SVD ke tabel pivot yang telah dibuat
X = rating_crosstab.T
SVD = TruncatedSVD(n_components=12, random_state=5)
resultant_matrix = SVD.fit_transform(X)

#cari korelasi antar film menggunakan pearson correlation menggunakan fungsi corrcoef pada library numpy
corr_mat = np.corrcoef(resultant_matrix)
corr_mat = pd.DataFrame(corr_mat, columns = rating_crosstab.columns.tolist(), index = rating_crosstab.columns.tolist())
#cari data user yang akan diberi rekomendasi berdasarkan rating film tertinggi yang diberikan 
userId=user
unrated=X[userId].loc[X[userId]==0]
rated=X[userId].loc[X[userId]>0]
#buat pivot table dengan menggunakan movieId yang sudah dirating sebagai kolom dan movieId yang belum dirating sebagai index
r_ur_corr_matt=corr_mat[rated.index].loc[unrated.index]\
            .apply(lambda x: x.nlargest(5), axis=1).fillna(0)#cari nilai similarity pada 10 item yang sudah 

simlilarity_dot_weight=r_ur_corr_matt.apply(lambda x: sum(x*rated), axis=1)
simlilarity_sum=r_ur_corr_matt.apply(np.sum, axis=1)
pred=(simlilarity_dot_weight/simlilarity_sum).sort_values(ascending=False)
reccomendation=pd.concat([movies.set_index('MOVIEID'), pred], axis=1).sort_values(by=0, ascending=False)
movies=reccomendation[page * 8: page * 8 + 8]
images=movies['POSTER'].tolist()


#recommended().to_sql("rec"+str(user), db, if_exists='replace')
#rec=pd.read_sql_query('SELECT * FROM rec'+str(user),db)

In [8]:
r_ur_corr_matt

,1,2,3,4,5,6,7,9,29,47,...,3671,3702,3703,3729,3740,3744,3793,3809,4006,5060
MOVIEID,,,,,,,,,,,,,,,,,,,,,
8,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
10,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
11,0.0,0.000000,0.0,0.0,0.0,0.0,0.934141,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
12,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.827001,0.0,0.0,0.0,0.0,0.0
13,0.0,0.766798,0.0,0.0,0.0,0.0,0.745366,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
193583,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
193585,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
193587,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0
193609,0.0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.364351,...,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0

In [22]:
array1=[1,2,3,4,5,6,7,8]
array2=[1,2,3,4,5,6,7,8]
for i in array1:
    array2.pop(i)
    for j in array2:
        print(i,j)

1 1
1 3
1 4
1 5
1 6
1 7
1 8
2 1
2 3
2 5
2 6
2 7
2 8
3 1
3 3
3 5
3 7
3 8
4 1
4 3
4 5
4 7

IndexError: pop index out of range

In [2]:
import sqlite3
import pandas as pd
db = sqlite3.connect("E:/Test/flaskrr.sqlite")

In [ ]:
users=pd.read_sql_query('SELECT * from users',db)
users=users.set_index('id')

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///flaskrrr.sqlite', echo=False)

In [ ]:
users.to_sql("users", engine, schema=None, if_exists='replace', index=False)

In [ ]:
ratings=pd.read_sql_query('SELECT * from ratings',db)
movies=pd.read_sql_query('SELECT * from movies',db)

In [ ]:
ratings.to_sql("ratings", engine, schema=None, if_exists='replace')
movies.to_sql("movies", engine, schema=None, if_exists='replace')

In [ ]:
import sqlite3
db = sqlite3.connect("E:/Movie-Recommender-master/Item-Based Collaborative filtering fix/instance/flaskr.sqlite")

In [8]:
import pandas as pd
movie=db.execute('SELECT * FROM movies')

In [10]:
movie.query(movie).filter_by(name='Bob')

AttributeError: 'sqlite3.Cursor' object has no attribute 'query'

In [ ]:
keyword = "toy"
page = 1
movies=db.execute('SELECT * FROM movies WHERE title like ? '
                'LIMIT ? OFFSET ?',
                (("%"+keyword+"%"),'18', str((page - 1) * 18), )).fetchall()
movies

In [4]:
import random
x = random.randint(1,5)
print(x)

3

In [184]:
import numpy as np
import pandas as pd
data = {'1': [4,5,4,3,4],
        '2': [3,4,5,2,3],
        '3': [2,3,5,4.5,3.5],
        '4': [3,4,5,2,4],
        '5': [2.5,3.5,4,5,2],
        '6': [2,3,3,4.5,2.5]
        }

In [191]:
df = pd.DataFrame(data)
test = df.T.values.tolist()
test

[[4.0, 5.0, 4.0, 3.0, 4.0],
 [3.0, 4.0, 5.0, 2.0, 3.0],
 [2.0, 3.0, 5.0, 4.5, 3.5],
 [3.0, 4.0, 5.0, 2.0, 4.0],
 [2.5, 3.5, 4.0, 5.0, 2.0],
 [2.0, 3.0, 3.0, 4.5, 2.5]]

In [206]:
from math import sqrt
def corrcoef_by_me(x,y):
    avg_x=sum(x)/len(x)
    avg_y=sum(y)/len(y)
    up=[]
    sqrt1=[]
    sqrt2=[]
    for i in range(len(x)):
        up.append((x[i] - avg_x)*(y[i] - avg_y))
    for i in range(len(x)):
        sqrt1.append((x[i] - avg_x)**2)
    for i in range(len(y)):
        sqrt2.append((y[i] - avg_y)**2)
    corr=sum(up)/sqrt(sum(sqrt1)*sum(sqrt2))
    return corr
result=[]
for i in range(len(test)):
    temp = []
    for j in range(len(test)):
        temp.append(corrcoef_by_me(test[i],test[j]))
    result.append(temp)

In [207]:

result

[[1.0,
  0.6201736729460422,
  -0.44426165831931924,
  0.6201736729460422,
  -0.44426165831931924,
  -0.5669467095138409],
 [0.6201736729460422,
  1.0,
  0.23878346647045962,
  0.9230769230769228,
  -0.055103876877798344,
  -0.3516054232038715],
 [-0.44426165831931924,
  0.23878346647045962,
  1.0,
  0.22041550751119346,
  0.6666666666666666,
  0.6716604942594675],
 [0.6201736729460422,
  0.9230769230769228,
  0.22041550751119346,
  1.0,
  -0.3122553023075242,
  -0.4688072309384954],
 [-0.44426165831931924,
  -0.055103876877798344,
  0.6666666666666666,
  -0.3122553023075242,
  1.0,
  0.89554732567929],
 [-0.5669467095138409,
  -0.3516054232038715,
  0.6716604942594675,
  -0.4688072309384954,
  0.89554732567929,
  1.0]]

In [197]:
x

[[1.0,
  0.6201736729460422,
  -0.44426165831931924,
  0.6201736729460422,
  -0.44426165831931924,
  -0.5669467095138409],
 [0.6201736729460422,
  1.0,
  0.23878346647045962,
  0.9230769230769228,
  -0.055103876877798344,
  -0.3516054232038715],
 [-0.44426165831931924,
  0.23878346647045962,
  1.0,
  0.22041550751119346,
  0.6666666666666666,
  0.6716604942594675],
 [0.6201736729460422,
  0.9230769230769228,
  0.22041550751119346,
  1.0,
  -0.3122553023075242,
  -0.4688072309384954],
 [-0.44426165831931924,
  -0.055103876877798344,
  0.6666666666666666,
  -0.3122553023075242,
  1.0,
  0.89554732567929],
 [-0.5669467095138409,
  -0.3516054232038715,
  0.6716604942594675,
  -0.4688072309384954,
  0.89554732567929,
  1.0]]

In [194]:
result=pd.DataFrame(np.corrcoef(test), columns = df.columns.tolist(), index = df.columns.tolist())

In [164]:
np.corrcoef(test)

array([[ 1.        ,  0.62017367, -0.44426166,  0.62017367, -0.44426166,
        -0.56694671],
       [ 0.62017367,  1.        ,  0.23878347,  0.92307692, -0.05510388,
        -0.35160542],
       [-0.44426166,  0.23878347,  1.        ,  0.22041551,  0.66666667,
         0.67166049],
       [ 0.62017367,  0.92307692,  0.22041551,  1.        , -0.3122553 ,
        -0.46880723],
       [-0.44426166, -0.05510388,  0.66666667, -0.3122553 ,  1.        ,
         0.89554733],
       [-0.56694671, -0.35160542,  0.67166049, -0.46880723,  0.89554733,
         1.        ]])

In [159]:
np.corrcoef(test)

array([[ 1.        ,  0.62017367, -0.44426166,  0.62017367, -0.44426166,
        -0.56694671],
       [ 0.62017367,  1.        ,  0.23878347,  0.92307692, -0.05510388,
        -0.35160542],
       [-0.44426166,  0.23878347,  1.        ,  0.22041551,  0.66666667,
         0.67166049],
       [ 0.62017367,  0.92307692,  0.22041551,  1.        , -0.3122553 ,
        -0.46880723],
       [-0.44426166, -0.05510388,  0.66666667, -0.3122553 ,  1.        ,
         0.89554733],
       [-0.56694671, -0.35160542,  0.67166049, -0.46880723,  0.89554733,
         1.        ]])

In [150]:
np.corrcoef(test)

array([[ 1.        ,  0.62017367, -0.44426166,  0.62017367, -0.44426166,
        -0.56694671],
       [ 0.62017367,  1.        ,  0.23878347,  0.92307692, -0.05510388,
        -0.35160542],
       [-0.44426166,  0.23878347,  1.        ,  0.22041551,  0.66666667,
         0.67166049],
       [ 0.62017367,  0.92307692,  0.22041551,  1.        , -0.3122553 ,
        -0.46880723],
       [-0.44426166, -0.05510388,  0.66666667, -0.3122553 ,  1.        ,
         0.89554733],
       [-0.56694671, -0.35160542,  0.67166049, -0.46880723,  0.89554733,
         1.        ]])

[4.0, 3.0, 3.5, 4.0, 2.0, 2.5]

In [ ]:
import sqlite3
import pandas as pd
db = sqlite3.connect("E:/Movie-Recommender-master/Item-Based Collaborative filtering fix/instance/flaskr.sqlite")

In [ ]:
genres=[]
movie_name=['war']
query=['']
for item in movie_name:
    query.append('SELECT * FROM movies WHERE title LIKE '+'"%'+item+'%"')
    if not genres:
        query="".join(query)
    else:
        for item in genres:
            query.append(' AND genres LIKE '+'"%'+item+'%"')
        query="".join(query)
query

In [ ]:
print(query+' LIMIT ? OFFSET ?',)

In [ ]:
page=1
filter=db.execute(query+' LIMIT ? OFFSET ?',('18', str((page - 1) * 18), )).paginate(per_page=5)
filter

In [ ]:
db.execute('SELECT * FROM movies WHERE genres like ? AND genres like ?',(("%"+genres[0]+"%"),)).fetchall()