In [ ]:
from matplotlib import image
from sklearn.decomposition import TruncatedSVD

from scipy.sparse.linalg import svds
import sqlite3
import pandas as pd
import numpy as np
import requests
user=2
db = sqlite3.connect("E:/Test/flaskrr.sqlite")
def recommended():
    page=1
    #Ambil data ratings dari sqlite dengan querry "SELECT * FROM review" dan simpan ke pandas dataframe
    ratings = pd.read_sql_query('SELECT userId, movieId, rating FROM ratings',db)
    ratings.columns = ['USERID', 'MOVIEID', 'RATING']
    #Ambil data movies dari sqlite dengan querry "SELECT * FROM review" dan simpan ke pandas dataframe
    movies = pd.read_sql_query('SELECT * FROM movies', db)
    movies.columns = ['MOVIEID', 'TITLE', 'GENRES', 'POSTER']

    combined_movies_data = pd.merge(ratings, movies, how='inner', on='MOVIEID')#merge data rating dan data movie pada movieId
    #Buat pivot table untuk rating menggunakan userId sebagai index dan movieId sebagai kolom
    rating_crosstab = combined_movies_data.pivot_table(index='USERID', columns='MOVIEID', values='RATING').fillna(0)
    #lakukan transpose dan dimesionality reduction dengan menggunakan fungsi SVD ke tabel pivot yang telah dibuat
    X = rating_crosstab.T
    SVD = TruncatedSVD(n_components=12, random_state=5)
    resultant_matrix = SVD.fit_transform(X)

    #cari korelasi antar film menggunakan pearson correlation menggunakan fungsi corrcoef pada library numpy
    corr_mat = np.corrcoef(resultant_matrix)
    corr_mat = pd.DataFrame(corr_mat, columns = rating_crosstab.columns.tolist(), index = rating_crosstab.columns.tolist())
    #cari data user yang akan diberi rekomendasi berdasarkan rating film tertinggi yang diberikan 
    userId=user
    unrated=X[userId].loc[X[userId]==0]
    rated=X[userId].loc[X[userId]>0]
    #buat pivot table dengan menggunakan movieId yang sudah dirating sebagai kolom dan movieId yang belum dirating sebagai index
    r_ur_corr_matt=corr_mat[rated.index].loc[unrated.index]\
                .apply(lambda x: x.nlargest(5), axis=1).fillna(0)#cari nilai similarity pada 10 item yang sudah 

    simlilarity_dot_weight=r_ur_corr_matt.apply(lambda x: sum(x*rated), axis=1)
    simlilarity_sum=r_ur_corr_matt.apply(np.sum, axis=1)
    pred=(simlilarity_dot_weight/simlilarity_sum).sort_values(ascending=False)
    reccomendation=pd.concat([movies.set_index('MOVIEID'), pred], axis=1).sort_values(by=0, ascending=False)
    movies=reccomendation[page * 8: page * 8 + 8]
    images=movies['POSTER'].tolist()
    return reccomendation

#recommended().to_sql("rec"+str(user), db, if_exists='replace')
#rec=pd.read_sql_query('SELECT * FROM rec'+str(user),db)

In [ ]:
import sqlite3
import pandas as pd
db = sqlite3.connect("E:/Test/flaskrr.sqlite")

In [ ]:
users=pd.read_sql_query('SELECT * from users',db)
users=users.set_index('id')

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///flaskrrr.sqlite', echo=False)

In [ ]:
users.to_sql("users", engine, schema=None, if_exists='replace', index=False)

In [ ]:
ratings=pd.read_sql_query('SELECT * from ratings',db)
movies=pd.read_sql_query('SELECT * from movies',db)

In [ ]:
ratings.to_sql("ratings", engine, schema=None, if_exists='replace')
movies.to_sql("movies", engine, schema=None, if_exists='replace')

In [ ]:
import sqlite3
db = sqlite3.connect("E:/Movie-Recommender-master/Item-Based Collaborative filtering fix/instance/flaskr.sqlite")

In [ ]:
import pandas as pd
pd.read_sql_query('SELECT * FROM movies',db)

In [ ]:
keyword = "toy"
page = 1
movies=db.execute('SELECT * FROM movies WHERE title like ? '
                'LIMIT ? OFFSET ?',
                (("%"+keyword+"%"),'18', str((page - 1) * 18), )).fetchall()
movies

In [ ]:
import sqlite3
import pandas as pd
db = sqlite3.connect("E:/Movie-Recommender-master/Item-Based Collaborative filtering fix/instance/flaskr.sqlite")

In [87]:
genres=[]
movie_name=['war']
query=['']
for item in movie_name:
    query.append('SELECT * FROM movies WHERE title LIKE '+'"%'+item+'%"')
    if not genres:
        query="".join(query)
    else:
        for item in genres:
            query.append(' AND genres LIKE '+'"%'+item+'%"')
        query="".join(query)
query

'SELECT * FROM movies WHERE title LIKE "%war%"'

In [88]:
print(query+' LIMIT ? OFFSET ?',)

SELECT * FROM movies WHERE title LIKE "%war%" LIMIT ? OFFSET ?

In [94]:
page=1
filter=db.execute(query+' LIMIT ? OFFSET ?',('18', str((page - 1) * 18), )).fetchall()
filter

[(260,
  'Star Wars: Episode IV - A New Hope (1977)',
  'Action|Adventure|Sci-Fi',
  'https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJjZ7eWeLibRLWTw.jpg'),
 (290,
  'Once Were Warriors (1994)',
  'Crime|Drama',
  'https://image.tmdb.org/t/p/w500/1nd4SsytVc96hy92g8NNVPD3mzf.jpg'),
 (340,
  'War, The (1994)',
  'Adventure|Drama|War',
  'https://image.tmdb.org/t/p/w500/eMJYqr5zs7rz54oZhiX4ez1BI5E.jpg'),
 (556,
  'War Room, The (1993)',
  'Documentary',
  'https://image.tmdb.org/t/p/w500/prfxsyG4SnlnqqulavCJ4RksFUA.jpg'),
 (594,
  'Snow White and the Seven Dwarfs (1937)',
  'Animation|Children|Drama|Fantasy|Musical',
  'https://image.tmdb.org/t/p/w500/1P9eGGlT7eV7kAAvvSh9jfygr1C.jpg'),
 (609,
  'Homeward Bound II: Lost in San Francisco (1996)',
  'Adventure|Children',
  'https://image.tmdb.org/t/p/w500/kfYawa9SF9MQ3ae0TXAfhDLFGv7.jpg'),
 (722,
  'Haunted World of Edward D. Wood Jr., The (1996)',
  'Documentary',
  'https://image.tmdb.org/t/p/w500/q1wbPToYRpXa827OCNqmT4lTnVF.jpg'),
 (766,
  'I Shot Andy Warhol (1996)',
  'Drama',
  'https://image.tmdb.org/t/p/w500/eF4iTAjunicLQyc6AdF7JNwSBOC.jpg'),
 (1015,
  'Homeward Bound: The Incredible Journey (1993)',
  'Adventure|Children|Drama',
  'https://image.tmdb.org/t/p/w500/el6dJEpK97OJRQiQhuiSGk2jkV5.jpg'),
 (1196,
  'Star Wars: Episode V - The Empire Strikes Back (1980)',
  'Action|Adventure|Sci-Fi',
  'https://image.tmdb.org/t/p/w500/y8kozeXuFDRKGCBRJGfZY0KbGi1.jpg'),
 (1210,
  'Star Wars: Episode VI - Return of the Jedi (1983)',
  'Action|Adventure|Sci-Fi',
  'https://image.tmdb.org/t/p/w500/q6ydU8r1iYyy2bV7tPVaq266Y1k.jpg'),
 (1329,
  "Blood for Dracula (Andy Warhol's Dracula) (1974)",
  'Horror',
  'https://image.tmdb.org/t/p/w500/eDy608qwRLGcHL2eIvpMlR8GJfq.jpg'),
 (1398,
  'In Love and War (1996)',
  'Romance|War',
  'https://image.tmdb.org/t/p/w500/dpGzMgYkbl6vvn7NBMp2CMVRbcu.jpg'),
 (1970,
  'Nightmare on Elm Street 3: Dream Warriors, A (1987)',
  'Horror|Thriller',
  'https://image.tmdb.org/t/p/w500/qbtZewU6EGvxi8yFVzwZ31NijLX.jpg'),
 (2291,
  'Edward Scissorhands (1990)',
  'Drama|Fantasy|Romance',
  'https://image.tmdb.org/t/p/w500/1RFIbuW9Z3eN9Oxw2KaQG5DfLmD.jpg'),
 (2450,
  'Howard the Duck (1986)',
  'Adventure|Comedy|Sci-Fi',
  'https://image.tmdb.org/t/p/w500/csBulWjE442zMwu0lT0DiEcTWQK.jpg'),
 (2628,
  'Star Wars: Episode I - The Phantom Menace (1999)',
  'Action|Adventure|Sci-Fi',
  'https://image.tmdb.org/t/p/w500/6wkfovpn7Eq8dYNKaG5PY3q2oq6.jpg'),
 (2662,
  'War of the Worlds, The (1953)',
  'Action|Drama|Sci-Fi',
  'https://image.tmdb.org/t/p/w500/cpfPXIDKMWJEJSU2ji9PqVQm0w2.jpg')]

In [34]:
db.execute('SELECT * FROM movies WHERE genres like ? AND genres like ?',(("%"+genres[0]+"%"),)).fetchall()

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 2, and there are 1 supplied.