In [1]:
from matplotlib import image
from sklearn.decomposition import TruncatedSVD

from scipy.sparse.linalg import svds
import sqlite3
import pandas as pd
import numpy as np
import requests
user=2
db = sqlite3.connect("E:/Test/flaskrr.sqlite")
def recommended():
    page=1
    #Ambil data ratings dari sqlite dengan querry "SELECT * FROM review" dan simpan ke pandas dataframe
    ratings = pd.read_sql_query('SELECT userId, movieId, rating FROM ratings',db)
    ratings.columns = ['USERID', 'MOVIEID', 'RATING']
    #Ambil data movies dari sqlite dengan querry "SELECT * FROM review" dan simpan ke pandas dataframe
    movies = pd.read_sql_query('SELECT * FROM movies', db)
    movies.columns = ['MOVIEID', 'TITLE', 'GENRES', 'POSTER']

    combined_movies_data = pd.merge(ratings, movies, how='inner', on='MOVIEID')#merge data rating dan data movie pada movieId
    #Buat pivot table untuk rating menggunakan userId sebagai index dan movieId sebagai kolom
    rating_crosstab = combined_movies_data.pivot_table(index='USERID', columns='MOVIEID', values='RATING').fillna(0)
    #lakukan transpose dan dimesionality reduction dengan menggunakan fungsi SVD ke tabel pivot yang telah dibuat
    X = rating_crosstab.T
    SVD = TruncatedSVD(n_components=12, random_state=5)
    resultant_matrix = SVD.fit_transform(X)

    #cari korelasi antar film menggunakan pearson correlation menggunakan fungsi corrcoef pada library numpy
    corr_mat = np.corrcoef(resultant_matrix)
    corr_mat = pd.DataFrame(corr_mat, columns = rating_crosstab.columns.tolist(), index = rating_crosstab.columns.tolist())
    #cari data user yang akan diberi rekomendasi berdasarkan rating film tertinggi yang diberikan 
    userId=user
    unrated=X[userId].loc[X[userId]==0]
    rated=X[userId].loc[X[userId]>0]
    #buat pivot table dengan menggunakan movieId yang sudah dirating sebagai kolom dan movieId yang belum dirating sebagai index
    r_ur_corr_matt=corr_mat[rated.index].loc[unrated.index]\
                .apply(lambda x: x.nlargest(5), axis=1).fillna(0)#cari nilai similarity pada 10 item yang sudah 

    simlilarity_dot_weight=r_ur_corr_matt.apply(lambda x: sum(x*rated), axis=1)
    simlilarity_sum=r_ur_corr_matt.apply(np.sum, axis=1)
    pred=(simlilarity_dot_weight/simlilarity_sum).sort_values(ascending=False)
    reccomendation=pd.concat([movies.set_index('MOVIEID'), pred], axis=1).sort_values(by=0, ascending=False)
    movies=reccomendation[page * 8: page * 8 + 8]
    images=movies['POSTER'].tolist()
    return reccomendation

#recommended().to_sql("rec"+str(user), db, if_exists='replace')
#rec=pd.read_sql_query('SELECT * FROM rec'+str(user),db)

In [1]:
import sqlite3
import pandas as pd
db = sqlite3.connect("E:/Test/flaskrr.sqlite")

In [2]:
users=pd.read_sql_query('SELECT * from users',db)
users=users.set_index('id')

In [3]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///flaskrrr.sqlite', echo=False)

In [9]:
users.to_sql("users", engine, schema=None, if_exists='replace', index=False)

In [10]:
ratings=pd.read_sql_query('SELECT * from ratings',db)
movies=pd.read_sql_query('SELECT * from movies',db)

In [11]:
ratings.to_sql("ratings", engine, schema=None, if_exists='replace')
movies.to_sql("movies", engine, schema=None, if_exists='replace')

In [67]:
import sqlite3
db = sqlite3.connect("E:/Movie-Recommender-master/Item-Based Collaborative filtering fix/instance/flaskr.sqlite")

In [68]:
import pandas as pd
pd.read_sql_query('SELECT * FROM movies',db)

,id,title,genres,poster
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,https://image.tmdb.org/t/p/w500/uXDfjJbdP4ijW5...
1,2,Jumanji (1995),Adventure|Children|Fantasy,https://image.tmdb.org/t/p/w500/z46R8oShx61gXM...
2,3,Grumpier Old Men (1995),Comedy|Romance,https://image.tmdb.org/t/p/w500/1FSXpj5e8l4KH6...
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,https://image.tmdb.org/t/p/w500/4wjGMwPsdlvi02...
4,5,Father of the Bride Part II (1995),Comedy,https://image.tmdb.org/t/p/w500/rj4LBtwQ0uGrpB...
...,...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy,https://image.tmdb.org/t/p/w500/4jU2Bdk1MB2OvP...
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy,https://image.tmdb.org/t/p/w500/cCBB6BGRj5nCTa...
9739,193585,Flint (2017),Drama,https://image.tmdb.org/t/p/w500/iPzkjNWpK7ud5p...
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation,https://image.tmdb.org/t/p/w500/7ueB7Kxq2GObp5...
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy,https://image.tmdb.org/t/p/w500/isX74cYvlYVDyy...

In [79]:
keyword = "toy"
page = 1
movies=db.execute('SELECT * FROM movies WHERE title like ? '
                'LIMIT ? OFFSET ?',
                (("%"+keyword+"%"),'18', str((page - 1) * 18), )).fetchall()
movies

[(1,
  'Toy Story (1995)',
  'Adventure|Animation|Children|Comedy|Fantasy',
  'https://image.tmdb.org/t/p/w500/uXDfjJbdP4ijW5hWSBrPrlKpxab.jpg'),
 (2017,
  'Babes in Toyland (1961)',
  'Children|Fantasy|Musical',
  'https://image.tmdb.org/t/p/w500/1p9YdoGGVVn7KPUgLUna0M9cVnJ.jpg'),
 (2253,
  'Toys (1992)',
  'Comedy|Fantasy',
  'https://image.tmdb.org/t/p/w500/l0YBVvOvOxoOkggTZ70tNGvGQo4.jpg'),
 (3086,
  'Babes in Toyland (1934)',
  'Children|Comedy|Fantasy|Musical',
  'https://image.tmdb.org/t/p/w500/bO98Ij86ZvZYGpjIKglptHyh3QX.jpg'),
 (3114,
  'Toy Story 2 (1999)',
  'Adventure|Animation|Children|Comedy|Fantasy',
  'https://image.tmdb.org/t/p/w500/xVhEI1WCgNCCa5I86AqiwuZoog3.jpg'),
 (4929,
  'Toy, The (1982)',
  'Comedy',
  'https://image.tmdb.org/t/p/w500/yt7Z37Uo2zls64XikaYh8nCwTAv.jpg'),
 (5843,
  'Toy Soldiers (1991)',
  'Action|Drama',
  'https://image.tmdb.org/t/p/w500/nL3ccvqU1Wq1j31feHWAydzpbr2.jpg'),
 (78499,
  'Toy Story 3 (2010)',
  'Adventure|Animation|Children|Comedy|Fantasy|IMAX',
  'https://image.tmdb.org/t/p/w500/AbbXspMOwdvwWZgVN0nabZq03Ec.jpg')]

In [1]:
import sqlite3
import pandas as pd
db = sqlite3.connect("E:/Movie-Recommender-master/Item-Based Collaborative filtering fix/instance/flaskr.sqlite")

In [44]:
pd.read_sql_query('SELECT * FROM usersss',db)

Empty DataFrame
Columns: [id, username, password]
Index: []

In [45]:
db.execute('INSERT INTO usersss(id, username, password) SELECT id, username, password from users')

In [48]:
db.execute('DROP TABLE users;')

OperationalError: no such table: users

In [14]:
pd.read_sql_query("SELECT * FROM movies",db).str.find("toy")

AttributeError: 'DataFrame' object has no attribute 'str'

In [62]:
dbww=pd.read_sql_query("SELECT * FROM movies\
    WHERE title like '%dungeon%'",db)
dbww

,id,title,genres,poster
0,3997,Dungeons & Dragons (2000),Action|Adventure|Comedy|Fantasy,https://image.tmdb.org/t/p/w500/h5ll8lbgKZoNdf...
1,57326,In the Name of the King: A Dungeon Siege Tale ...,Action|Adventure|Fantasy,https://image.tmdb.org/t/p/w500/bbN1lmDk1PT0Gs...

In [53]:
dbw=dbww[dbww['title'].str.contains('batman', case=False)]

In [51]:
dbw

,id,title,genres,poster
126,153,Batman Forever (1995),Action|Adventure|Comedy|Crime,https://image.tmdb.org/t/p/w500/klm0mzHyOdYrLK...
509,592,Batman (1989),Action|Crime|Thriller,https://image.tmdb.org/t/p/w500/jUhGHv4YihieVj...
1060,1377,Batman Returns (1992),Action|Crime,https://image.tmdb.org/t/p/w500/mnihMYFydSUDm5...
1174,1562,Batman & Robin (1997),Action|Adventure|Fantasy|Thriller,https://image.tmdb.org/t/p/w500/pc6Y42r8AGAT8i...
2418,3213,Batman: Mask of the Phantasm (1993),Animation|Children,https://image.tmdb.org/t/p/w500/l4jaQjkgznu2Rz...
5463,26152,Batman (1966),Action|Adventure|Comedy,https://image.tmdb.org/t/p/w500/jV4grL9Sxd2QA6...
5620,27155,"Batman/Superman Movie, The (1998)",Action|Adventure|Animation|Children|Fantasy|Sc...,https://image.tmdb.org/t/p/w500/dQxwNGQ6pQLCUE...
5631,27311,Batman Beyond: Return of the Joker (2000),Action|Animation|Crime|Sci-Fi|Thriller,https://image.tmdb.org/t/p/w500/cY30YkhK84E18R...
5917,33794,Batman Begins (2005),Action|Crime|IMAX,https://image.tmdb.org/t/p/w500/8RW2runSEc34Iw...
6815,60979,Batman: Gotham Knight (2008),Action|Animation|Crime,https://image.tmdb.org/t/p/w500/f3xUrqo7yEiU0g...
7380,79274,Batman: Under the Red Hood (2010),Action|Animation,https://image.tmdb.org/t/p/w500/dEujs48u3n4cmh...
7731,90603,Batman: Year One (2011),Action|Animation|Crime,https://image.tmdb.org/t/p/w500/mLZRhulJcDsxZW...
7903,95149,Superman/Batman: Public Enemies (2009),Action|Animation|Fantasy,https://image.tmdb.org/t/p/w500/izvMc22ywSLFWU...
8032,98124,"Batman: The Dark Knight Returns, Part 1 (2012)",Action|Animation|Sci-Fi,https://image.tmdb.org/t/p/w500/kkjTbwV1Xnj8wB...
8080,99813,"Batman: The Dark Knight Returns, Part 2 (2013)",Action|Animation,https://image.tmdb.org/t/p/w500/arEZYd6uMOFTIL...
8195,103233,LEGO Batman: The Movie - DC Heroes Unite (2013),Action|Adventure|Animation,https://image.tmdb.org/t/p/w500/zpK8M3V6dAqPFL...
8234,104141,Batman: Mystery of the Batwoman (2003),Action|Animation|Children|Crime,https://image.tmdb.org/t/p/w500/mlmhpUArJdpRPO...
8486,113278,Batman: Assault on Arkham (2014),Action|Animation|Crime|Thriller,https://image.tmdb.org/t/p/w500/mmQZekxr9gJ7c0...
8829,131739,Batman vs. Robin (2015),Action|Adventure|Animation,https://image.tmdb.org/t/p/w500/aGp9XDXmVM5lCK...
8963,136864,Batman v Superman: Dawn of Justice (2016),Action|Adventure|Fantasy|Sci-Fi,https://image.tmdb.org/t/p/w500/5UsK3grJvtQrtz...
9355,161354,Batman: The Killing Joke (2016),Action|Animation|Crime|Drama,https://image.tmdb.org/t/p/w500/nxncAAL1FUKtQW...
9452,167746,The Lego Batman Movie (2017),Action|Animation|Comedy,https://image.tmdb.org/t/p/w500/snGwr2gag4Fcgx...