In [ ]:
from matplotlib import image
from sklearn.decomposition import TruncatedSVD

from scipy.sparse.linalg import svds
import sqlite3
import pandas as pd
import numpy as np
import requests
user=2
db = sqlite3.connect("E:/Test/flaskrr.sqlite")
def recommended():
    page=1
    #Ambil data ratings dari sqlite dengan querry "SELECT * FROM review" dan simpan ke pandas dataframe
    ratings = pd.read_sql_query('SELECT userId, movieId, rating FROM ratings',db)
    ratings.columns = ['USERID', 'MOVIEID', 'RATING']
    #Ambil data movies dari sqlite dengan querry "SELECT * FROM review" dan simpan ke pandas dataframe
    movies = pd.read_sql_query('SELECT * FROM movies', db)
    movies.columns = ['MOVIEID', 'TITLE', 'GENRES', 'POSTER']

    combined_movies_data = pd.merge(ratings, movies, how='inner', on='MOVIEID')#merge data rating dan data movie pada movieId
    #Buat pivot table untuk rating menggunakan userId sebagai index dan movieId sebagai kolom
    rating_crosstab = combined_movies_data.pivot_table(index='USERID', columns='MOVIEID', values='RATING').fillna(0)
    #lakukan transpose dan dimesionality reduction dengan menggunakan fungsi SVD ke tabel pivot yang telah dibuat
    X = rating_crosstab.T
    SVD = TruncatedSVD(n_components=12, random_state=5)
    resultant_matrix = SVD.fit_transform(X)

    #cari korelasi antar film menggunakan pearson correlation menggunakan fungsi corrcoef pada library numpy
    corr_mat = np.corrcoef(resultant_matrix)
    corr_mat = pd.DataFrame(corr_mat, columns = rating_crosstab.columns.tolist(), index = rating_crosstab.columns.tolist())
    #cari data user yang akan diberi rekomendasi berdasarkan rating film tertinggi yang diberikan 
    userId=user
    unrated=X[userId].loc[X[userId]==0]
    rated=X[userId].loc[X[userId]>0]
    #buat pivot table dengan menggunakan movieId yang sudah dirating sebagai kolom dan movieId yang belum dirating sebagai index
    r_ur_corr_matt=corr_mat[rated.index].loc[unrated.index]\
                .apply(lambda x: x.nlargest(5), axis=1).fillna(0)#cari nilai similarity pada 10 item yang sudah 

    simlilarity_dot_weight=r_ur_corr_matt.apply(lambda x: sum(x*rated), axis=1)
    simlilarity_sum=r_ur_corr_matt.apply(np.sum, axis=1)
    pred=(simlilarity_dot_weight/simlilarity_sum).sort_values(ascending=False)
    reccomendation=pd.concat([movies.set_index('MOVIEID'), pred], axis=1).sort_values(by=0, ascending=False)
    movies=reccomendation[page * 8: page * 8 + 8]
    images=movies['POSTER'].tolist()
    return reccomendation

#recommended().to_sql("rec"+str(user), db, if_exists='replace')
#rec=pd.read_sql_query('SELECT * FROM rec'+str(user),db)

In [ ]:
import sqlite3
import pandas as pd
db = sqlite3.connect("E:/Test/flaskrr.sqlite")

In [ ]:
users=pd.read_sql_query('SELECT * from users',db)
users=users.set_index('id')

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///flaskrrr.sqlite', echo=False)

In [ ]:
users.to_sql("users", engine, schema=None, if_exists='replace', index=False)

In [ ]:
ratings=pd.read_sql_query('SELECT * from ratings',db)
movies=pd.read_sql_query('SELECT * from movies',db)

In [ ]:
ratings.to_sql("ratings", engine, schema=None, if_exists='replace')
movies.to_sql("movies", engine, schema=None, if_exists='replace')

In [ ]:
import sqlite3
db = sqlite3.connect("E:/Movie-Recommender-master/Item-Based Collaborative filtering fix/instance/flaskr.sqlite")

In [ ]:
import pandas as pd
pd.read_sql_query('SELECT * FROM movies',db)

In [ ]:
keyword = "toy"
page = 1
movies=db.execute('SELECT * FROM movies WHERE title like ? '
                'LIMIT ? OFFSET ?',
                (("%"+keyword+"%"),'18', str((page - 1) * 18), )).fetchall()
movies

In [ ]:
import sqlite3
import pandas as pd
db = sqlite3.connect("E:/Movie-Recommender-master/Item-Based Collaborative filtering fix/instance/flaskr.sqlite")

In [ ]:
genres=['Action', 'Adventure']
movie_name=['star wars']

In [ ]:
movie_name[0]

In [41]:
filter=pd.read_sql_query('SELECT * FROM movies WHERE title LIKE "%goldeneye%" AND genres LIKE "%Action%" AND genres LIKE "%Adventure%" AND genres LIKE "%Thriller%"',db)

In [34]:
db.execute('SELECT * FROM movies WHERE genres like ? AND genres like ?',(("%"+genres[0]+"%"),)).fetchall()

ProgrammingError: Incorrect number of bindings supplied. The current statement uses 2, and there are 1 supplied.