In [ ]:
import sqlite3
db = sqlite3.connect("E:/Movie-Recommender-master/Item-Based Collaborative filtering fix/Accuracy Test/flaskr.sqlite")

In [1]:
page=1
from matplotlib import image
from sklearn.decomposition import TruncatedSVD

from scipy.sparse.linalg import svds
import sqlite3
import pandas as pd
import numpy as np
import requests
def accuracy_test(user):
    db = sqlite3.connect("E:/Movie-Recommender-master/Item-Based Collaborative filtering fix/Accuracy Test/testing.sqlite")
    #Ambil data ratings dari sqlite dengan querry "SELECT * FROM review" dan simpan ke pandas dataframe
    ratings = pd.read_sql_query('SELECT userId, movieId, rating FROM ratings',db)
    ratings.columns = ['USERID', 'MOVIEID', 'RATING']
    #Ambil data movies dari sqlite dengan querry "SELECT * FROM review" dan simpan ke pandas dataframe
    movies = pd.read_sql_query('SELECT * FROM movies', db)
    movies.columns = ['MOVIEID', 'TITLE', 'GENRES', 'POSTER']

    num_rated = len(db.execute(
        'SELECT m.id, m.title, m.genres, m.poster, r.rating '
        'FROM movies m '
        'INNER JOIN '
        'ratings r '
        'ON r.userID = '+str(user)+' '
        'and m.id = r.movieID '
        'LIMIT 15').fetchall())

    combined_movies_data = pd.merge(ratings, movies, how='inner', on='MOVIEID')#merge data rating dan data movie pada movieId
    #Buat pivot table untuk rating menggunakan userId sebagai index dan movieId sebagai kolom
    rating_crosstab = combined_movies_data.pivot_table(index='USERID', columns='MOVIEID', values='RATING').fillna(0)
    #lakukan transpose dan dimesionality reduction dengan menggunakan fungsi SVD ke tabel pivot yang telah dibuat
    X = rating_crosstab.T
    SVD = TruncatedSVD(n_components=12, random_state=5)
    resultant_matrix = SVD.fit_transform(X)

    #cari korelasi antar film menggunakan pearson correlation menggunakan fungsi corrcoef pada library numpy
    corr_mat = np.corrcoef(resultant_matrix)
    corr_mat = pd.DataFrame(corr_mat, columns = rating_crosstab.columns.tolist(), index = rating_crosstab.columns.tolist())
    #cari data user yang akan diberi rekomendasi berdasarkan rating film tertinggi yang diberikan 
    userId = user
    unrated=X[userId].loc[X[userId]==0]
    rated=X[userId].loc[X[userId]>0]
    #buat pivot table dengan menggunakan movieId yang sudah dirating sebagai kolom dan movieId yang belum dirating sebagai index
    r_ur_corr_matt=corr_mat[rated.index].loc[unrated.index]\
                .apply(lambda x: x.nlargest(10), axis=1).fillna(0)#cari nilai similarity pada 10 item yang sudah 
    simlilarity_dot_weight=r_ur_corr_matt.apply(lambda x: sum((x*rated).fillna(0)), axis=1)
    simlilarity_sum=r_ur_corr_matt.apply(np.sum, axis=1)
    pred=(simlilarity_dot_weight/simlilarity_sum).sort_values(ascending=False)
    reccomendation=pd.concat([movies.set_index('MOVIEID'), pred], axis=1).sort_values(by=0, ascending=False)
    reccomendation.columns = ['title', 'genres', 'poster', 'pred_rating']
    reccomendation=reccomendation.rename_axis('id')
    return reccomendation

In [2]:
user = 249
pred = accuracy_test(user)
pred.loc[[84942, 31696, 84944, 91094, 3034, 84954, 138204, 80862, 3039, 62434, 5093, 7143, 95207, 7153, 134130, 64497, 101362, 44022, 35836, 54272]].to_excel("pred"+str(user)+".xlsx")

In [3]:
pred.loc[[15, 19, 47, 70, 110, 154, 156, 202, 225, 260, 265, 337, 382, 446, 475, 587, 596, 639, 781, 898]]

,title,genres,poster,pred_rating
id,,,,
15,Cutthroat Island (1995),Action|Adventure|Romance,https://image.tmdb.org/t/p/w500/hYdeBZ4BFXivdo...,3.148177
19,Ace Ventura: When Nature Calls (1995),Comedy,https://image.tmdb.org/t/p/w500/wcinCf1ov2D6M3...,2.802634
47,Seven (a.k.a. Se7en) (1995),Mystery|Thriller,https://image.tmdb.org/t/p/w500/69Sns8WoET6Cfa...,4.204150
70,From Dusk Till Dawn (1996),Action|Comedy|Horror|Thriller,https://image.tmdb.org/t/p/w500/sV3kIAmvJ9tPz4...,3.442310
110,Braveheart (1995),Action|Drama|War,https://image.tmdb.org/t/p/w500/or1gBugydmjToA...,3.398872
154,Beauty of the Day (Belle de jour) (1967),Drama,https://image.tmdb.org/t/p/w500/iUAFECovwPA0cV...,4.349358
156,Blue in the Face (1995),Comedy|Drama,https://image.tmdb.org/t/p/w500/yBFNJA95MNiasd...,3.450127
202,Total Eclipse (1995),Drama|Romance,https://image.tmdb.org/t/p/w500/e0j1zDF3ITeTbG...,NaN
225,Disclosure (1994),Drama|Thriller,https://image.tmdb.org/t/p/w500/dnA4QkIZZCF9wR...,3.249058
260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Sci-Fi,https://image.tmdb.org/t/p/w500/6FfCtAuVAW8XJj...,3.904330
265,Like Water for Chocolate (Como agua para choco...,Drama|Fantasy|Romance,https://image.tmdb.org/t/p/w500/itwUdMqLmPfhtG...,3.505691
337,What's Eating Gilbert Grape (1993),Drama,https://image.tmdb.org/t/p/w500/8FxWgsfDNosewo...,3.648662
382,Wolf (1994),Drama|Horror|Romance|Thriller,https://image.tmdb.org/t/p/w500/8ocZb9x6rN82i8...,3.400977
446,Farewell My Concubine (Ba wang bie ji) (1993),Drama|Romance,https://image.tmdb.org/t/p/w500/f54hNIiHNINw3J...,4.147111
475,In the Name of the Father (1993),Drama,https://image.tmdb.org/t/p/w500/kUTImWLPIr6U4x...,3.751303
587,Ghost (1990),Comedy|Drama|Fantasy|Romance|Thriller,https://image.tmdb.org/t/p/w500/yap1VxnhetYhzk...,3.197948
596,Pinocchio (1940),Animation|Children|Fantasy|Musical,https://image.tmdb.org/t/p/w500/ynkEEi296ofs9k...,3.198509
639,Girl 6 (1996),Comedy|Drama,https://image.tmdb.org/t/p/w500/un5YpVy7fxb7Px...,2.687859
781,Stealing Beauty (1996),Drama,https://image.tmdb.org/t/p/w500/5ugxnyVmBK952b...,3.703086
898,"Philadelphia Story, The (1940)",Comedy|Drama|Romance,https://image.tmdb.org/t/p/w500/o4cYWubhrBFF56...,4.297349

In [ ]:
t=(simlilarity_dot_weight/simlilarity_sum).sort_values(ascending=False)

In [87]:
movies = pd.read_sql_query('SELECT * FROM movies', db)

In [94]:
rating_crosstab.columns==52831

array([False, False, False, ..., False, False, False])

In [89]:
movies[movies['id']==52831]

,id,title,genres,poster
6475,52831,Maniac Cop (1988),Action|Crime|Horror|Thriller,https://image.tmdb.org/t/p/w500/kFml1HbZlsekXO...

In [4]:
db = sqlite3.connect("E:/Movie-Recommender-master/Item-Based Collaborative filtering fix/Accuracy Test/testing.sqlite")
#Ambil data ratings dari sqlite dengan querry "SELECT * FROM review" dan simpan ke pandas dataframe
ratings = pd.read_sql_query('SELECT userId, movieId, rating FROM ratings',db)
ratings.columns = ['USERID', 'MOVIEID', 'RATING']
#Ambil data movies dari sqlite dengan querry "SELECT * FROM review" dan simpan ke pandas dataframe
movies = pd.read_sql_query('SELECT * FROM movies', db)
movies.columns = ['MOVIEID', 'TITLE', 'GENRES', 'POSTER']
combined_movies_data = pd.merge(ratings, movies, how='inner', on='MOVIEID')#merge data rating dan data movie pada movieId
unique_movie_rated=combined_movies_data.groupby('USERID').nunique()

In [5]:
unique_movie_rated

        MOVIEID  RATING  TITLE  GENRES  POSTER
USERID
1           238       5    238     124     238
2            29       7     29      23      29
3            39       7     39      30      39
4           216       5    216      89     216
5            44       5     44      33      44
...         ...     ...    ...     ...     ...
606        1115      10   1115     260    1115
607         187       5    187     106     187
608         831      10    831     274     831
609          37       2     37      30      37
610        1302      10   1302     380    1301

[610 rows x 5 columns]

In [5]:
more_than_one=combined_movies_data.groupby('MOVIEID')['USERID'].nunique().loc[lambda x: x > 1].index.to_list()
rated=combined_movies_data[combined_movies_data['USERID']==249]["MOVIEID"].to_list()
to_test=list(set(rated) & set(more_than_one))

In [7]:
to_test[543:]

[160718,
 84942,
 31696,
 84944,
 91094,
 3034,
 84954,
 138204,
 80862,
 3039,
 62434,
 5093,
 7143,
 95207,
 7153,
 134130,
 64497,
 101362,
 44022,
 35836,
 54272,
 115713,
 33794,
 1029,
 7173,
 111622,
 3081,
 3082,
 109578,
 1036,
 54286,
 97304,
 97306,
 85020,
 5151,
 1061,
 74789,
 3114,
 74795,
 33836,
 56367,
 5171,
 68659,
 1079,
 1080,
 52281,
 1086,
 85056,
 1089,
 1097,
 3147,
 1101,
 95309,
 7254,
 93270,
 93272,
 142422,
 5218,
 5219,
 5220,
 64614,
 3175,
 109673,
 103539,
 111743,
 31878,
 5254,
 117895,
 85131,
 93326,
 111759,
 5266,
 148626,
 7317,
 101525,
 158872,
 142488,
 27801,
 7323,
 1178,
 7325,
 87192,
 44191,
 79008,
 44195,
 5283,
 111781,
 44199,
 1193,
 1196,
 38061,
 1198,
 1199,
 1200,
 48304,
 1201,
 1203,
 7346,
 93363,
 1206,
 87222,
 68791,
 1209,
 1210,
 68793,
 160954,
 1213,
 83134,
 1214,
 58559,
 87232,
 7361,
 74946,
 1219,
 1220,
 1221,
 3268,
 3271,
 103624,
 3273,
 187593,
 3275,
 64716,
 7373,
 5323,
 95441,
 79057,
 3285,
 1240,
 134368,
 3300,
 5349,
 3301,
 54503,
 103655,
 1257,
 1258,
 52458,
 3307,
 1265,
 79091,
 5363,
 1270,
 34048,
 48385,
 5378,
 93443,
 87298,
 50442,
 1291,
 60684,
 87306,
 7438,
 7439,
 95510,
 79132,
 32029,
 79134,
 7454,
 7458,
 79139,
 72998,
 1320,
 5418,
 5419,
 95543,
 73017,
 5445,
 93510,
 95558,
 5449,
 1356,
 81229,
 1359,
 3408,
 3409,
 79185,
 5459,
 60756,
 1367,
 5464,
 5463,
 68954,
 103772,
 91485,
 95583,
 34150,
 128360,
 161131,
 91500,
 34162,
 159093,
 66934,
 3448,
 103801,
 79224,
 93563,
 5502,
 89470,
 1408,
 62849,
 5507,
 48516,
 87430,
 91529,
 152970,
 91535,
 99728,
 73106,
 89492,
 83349,
 91542,
 1432,
 85401,
 114074,
 148888,
 3489,
 85414,
 140711,
 47099,
 140715,
 1457,
 107953,
 58803,
 79293,
 87485,
 71106,
 5574,
 3527,
 56775,
 64969,
 167370,
 1485,
 56782,
 3535,
 3536,
 69069,
 175569,
 32213,
 64983,
 97752,
 1499,
 1500,
 87520,
 3552,
 91622,
 101864,
 1513,
 87529,
 95720,
 3564,
 1517,
 91630,
 52722,
 1527,
 3578,
 5630,
 69122,
 114180,
 85510,
 1544,
 112138,
 34319,
 1552,
 67087,
 110102,
 62999,
 1562,
 1566,
 3615,
 3617,
 1569,
 1573,
 3623,
 91690,
 1580,
 103980,
 97836,
 5679,
 112175,
 36401,
 1588,
 3646,
 65088,
 79428,
 97860,
 93766,
 99910,
 1608,
 1617,
 1619,
 71254,
 106072,
 1625,
 71264,
 3681,
 61024,
 34405,
 3686,
 63082,
 50794,
 1644,
 179819,
 50798,
 157296,
 3697,
 106100,
 3702,
 58998,
 44665,
 97913,
 67197,
 95873,
 1665,
 97921,
 46723,
 95875,
 3717,
 48774,
 81537,
 93831,
 63113,
 59014,
 1676,
 48780,
 93838,
 48783,
 93840,
 89745,
 1682,
 97938,
 120466,
 59022,
 102033,
 1687,
 5784,
 5785,
 1690,
 63131,
 81562,
 1693,
 89753,
 69278,
 3744,
 83613,
 36519,
 1704,
 3753,
 5803,
 36529,
 5810,
 1717,
 81591,
 5816,
 1721,
 50872,
 1722,
 1732,
 134853,
 3785,
 61132,
 89804,
 184015,
 3793,
 54995,
 54999,
 34520,
 1752,
 110297,
 42723,
 79592,
 102123,
 1772,
 102125,
 52973,
 48877,
 5872,
 3825,
 3826,
 3827,
 171763,
 42738,
 3821,
 89840,
 77561,
 1792,
 89864,
 53000,
 5903,
 104211,
 85780,
 1831,
 1833,
 104241,
 104243,
 87869,
 5952,
 61248,
 167746,
 100163,
 5956,
 91974,
 91976,
 91978,
 32587,
 96079,
 79695,
 1876,
 79702,
 1882,
 1884,
 51037,
 71520,
 36708,
 5989,
 1894,
 149352,
 69481,
 71530,
 5995,
 92008,
 71535,
 40815,
 46965,
 1911,
 46972,
 1917,
 46974,
 3968,
 53121,
 1923,
 53125,
 3977,
 3978,
 3979,
 51086,
 3988,
 69526,
 3994,
 3997,
 1954,
 61348,
 4007,
 112552,
 118696,
 81834,
 4011,
 112556,
 6058,
 44972,
 4015,
 4018,
 59315,
 104374,
 4025,
 184253,
 1982,
 98239,
 55232,
 47044,
 90057,
 55247,
 2000,
 128975,
 2006,
 110553,
 2011,
 2012,
 135133,
 55261,
 120799,
 176101,
 4069,
 55269,
 69606,
 59369,
 2028,
 55278,
 112623,
 55282,
 4084,
 4085,
 106487,
 106489,
 55290,
 143355]

In [26]:
len(rated)

1260